.home-page
    display: flex
    min-height: 700px
    height: 100vh
    background-color: #f6f6f6
    color: #fff
    position: relative
    background-size: cover
    background-position: center
    &__collection
        position: absolute
        font-family: 'Permanent Marker', cursive
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        bottom: 5px
        left: 5px
        color: #fff
        h1
            font-size: 32px
            font-weight: 700
            line-height: 1em
            margin: 0
        span
            font-size: 22px
            font-weight: 700
            line-height: 1em
    .user-likes
        position: absolute
        background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/9632/heart.png")
        background-size: 100%
        background-repeat: no-repeat
        display: inline-block
        height: 50px
        width: 50px
        bottom: 50%
        right: 10px
        span
            position: absolute
            z-index: 1
            font-size: 14px
            font-weight: 700
            display: inline-block
            line-height: 46px
            text-align: center
            width: 100%