@import "https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap"

*
    box-sizing: border-box
    margin: 0
    padding: 0
    outline: none
body
    position: relative
    min-width: 320px
    font-size: 16px
    font-family: Verdana, sans-serif
    line-height: 1.4
    overflow-x: hidden
    color: rgba(#fff, .87)
    background: #292929
    opacity: 1
    
a 
    color: inherit
    text-decoration: none
    transition: all .25s ease

a:hover, a:focus
    color: #bb86fc
    text-decoration: none

ul 
    list-style: none

img 
    max-width: 100%

button 
    outline: none
    border: none
    cursor: pointer

textarea 
    resize: vertical

.backTo
    position: fixed
    left: 60px
    top: 105px
    z-index: 10
    .hand-left
        width: 40px
        height: auto
        cursor: pointer
        transition: all .25s ease
        &:hover::before
            color: #03DAC5
            text-decoration: none
        &::before
            text-decoration: none
            transition: all .25s ease

.error
    position: relative
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    min-height: 700px
    height: 100vh
    color: #000
    font-size: 30px
    background-color: #CF6679

svg
    color: #03DAC5
    margin-right: 5px
    transition: color .25s ease
    text-decoration: none
    &:hover
        color: darken(#03DAC5, 10)
