.header
    display: flex
    justify-content: center
    align-items: center
    position: fixed
    height: 80px
    top: 0
    left: 0
    right: 0
    z-index: 100
    background-color: rgba(#000, .7)
    color: #fff
    .item
        padding: 5px
        margin: 0 20px
        text-transform: uppercase
        opacity: .7
        cursor: pointer
        &.active
            opacity: 1
            text-decoration: underline
        &:hover
            opacity: 1
            text-decoration: underline