.homepage
    display: flex
    min-height: 700px
    height: 100vh
    background-size: cover
    background-position: center
    font-family: 'Roboto Mono', monospace
    &-content
        margin: auto
        background-color: rgba(#000, .4)
        padding: 5px 20px
        border-radius: 0 5px 5px 0
        border-left: 5px solid #03DAC5
        cursor: pointer
        overflow: hidden
        &:hover .homepage-content-link
            color: #bb86fc
            outline: none
            text-decoration: none
        &:hover svg
            color: darken(#03DAC5, 10)
        &-logo
            font-size: 3em
            font-weight: 700
            line-height: 1em
            color: rgba(#fff, .87)
            margin: 0
            user-select: none
        &-nav
            display: flex
            justify-content: center
            align-items: center
            margin-top: 8px
        &-link
            font-size: 19px
            color: rgba(#fff, .87)
            line-height: 1em
            padding: 0
            margin: 0
            text-decoration: none
            display: inline-block
            border: none
            background-color: transparent
            text-transform: uppercase
            letter-spacing: 0.1em
            font-weight: 600
            transition: all .25s ease
