.user-card
	position: relative
	max-width: 400px
	width: 100%
	margin: 100px auto 20px
	display: flex
	flex-direction: column
	height: 600px
	padding: 10px
	background-color: #121212
	.image
		align-self: flex-end
		margin-bottom: 10px
		img
			border-radius: 50%
	&-info
		background-color: #1e1e1e
		height: 100%
		padding: 5px
		.name
			font-size: 20px
		.location
			span
				color: #a5a5a5
		.bio
			span
				color: #a5a5a5
